[Desktop Entry]
X-SLSteamMoon-Patched=true
Name=Counter-Strike
Comment=Play this game on Steam
Exec=/home/solar/.local/share/SLSsteam/path/steam steam://rungameid/10
Icon=steam_icon_10
Terminal=false
Type=Application
Categories=Game;
