[Desktop Entry]
X-SLSteamMoon-Patched=true
Name=Limbus Company
Comment=Play this game on Steam
Exec=/home/solar/.local/share/SLSsteam/path/steam steam://rungameid/1973530
Icon=steam_icon_1973530
Terminal=false
Type=Application
Categories=Game;
